<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${job.getJobName()}"></title>
</head>
<body>
<span th:text="${job.getJobName()}">Job Name</span><br/>
<span th:text="${job.getJobDescription()}">Job Description</span><br/>
<span th:text="${job.getJobPublishedDate()}">Publish Date</span><br/>

<table>
    <tr>
        <th>User</th>
        <th>Bid Amount</th>
    </tr>

    <tr th:each="bid : *{job.getJobBids()}">
        <td th:text="*{bid.getUser().userName}">User who made bid</td>
        <td>€<span th:text="*{bid.getBidAmount()}"></span></td>
    </tr>
</table>

<p th:unless="*{job.active}">Winning Bid was made by
    <span th:text="*{job.getJobBids().get(job.getJobBids().size() - 1).getUser().userName}">Bid Winner Name</span>
    who bid
    €<span th:text="*{job.getJobBids().get(job.getJobBids().size() - 1).getBidAmount()}">Winning Bid Amount</span>
</p>

<form class="job-form" method="post" th:action="@{/makeBid/{jobId}(jobId=${job.jobId})}"
      th:if="${userid != job.userRef.userId && job.active}" th:object="${bidForm}">
    <label th:for="*{amount}">Bid Amount: <input name="bidAmount" th:field="*{amount}" type="number"/></label>
    <input type="submit" value="Make Bid"/>
</form>
</body>
</html>