<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Job</th>
        <th>Description</th>
        <th>Publsished Date</th>
        <th>Job Active</th>
    </tr>

    <tr th:each="job : ${jobs}">
        <td th:text="*{job.jobId}">1</td>
        <td th:text="*{job.jobName}">Job</td>
        <td th:text="*{job.jobDescription}">Job Description</td>
        <td th:text="*{job.jobPublishedDate}">Published Date</td>
        <td th:text="*{job.active}">Job Active</td>
    </tr>
</table>
</body>
</html>