<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="login-form" method="post" th:action="@{/loginUser}" th:object="${loginForm}">
    <label th:for="*{email}">Email: <input name="email" th:field="*{email}" type="text"/></label>
    <label th:for="*{password}">Password: <input name="password" th:field="*{password}" type="password"/></label>
    <input type="submit" value="Sign In"/>
</form>
</body>
</html>